[paths]
source =
   src/*
   */site-packages

[run]
branch = true
source =
    src
    tests
omit =
    src/sa_pathfinding/gui.py
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
