[paths]
source =
    src/sa_pathfinding
    */site-packages
omit =
    src/sa_pathfinding/gui.py

[run]
branch = true
source =
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = 
    *migrations*
